*.pyc
*~
examples/movies/*
examples/images/*
examples/export/*
examples/data/*
.*
!.gitignore
*.c
*.so
todo*
build/*
dist/*
omg_tools.egg-info/*
OMG_tools.egg-info/*
lvd/*.csv
lvd/movies/*
lvd/images/*
