*.pyc
*~
examples/movies/*
examples/images/*
examples/export*
examples/data/*
movies/*
images/*
export*
data/*
lvd/*
.*
!.gitignore
!.travis.yml
*.c
*.so
*.csv
*.p
*.sh
coverage.xml
todo*
build/*
dist/*
omg_tools.egg-info/*
lvd/*
