<launch>

	<!-- these are the arguments you can pass this launch file, for example
		paused:=true -->
	<arg name="paused" default="false" />
	<arg name="use_sim_time" default="true" />
	<arg name="gui" default="true" />
	<arg name="headless" default="false" />
	<arg name="debug" default="false" />

	<!-- We resume the logic in empty_world.launch, changing only the name of
		the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find p3dx_gazebo)/worlds/p3dx.world" />
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="use_sim_time" value="$(arg use_sim_time)" />
		<arg name="headless" value="$(arg headless)" />
	</include>

	<!-- Run a python script to the send a service call to gazebo_ros to spawn
		a URDF robot -->

	<param name="robot_description"
        command="$(find xacro)/xacro '$(find p3dx_description)/urdf/pioneer3dx.xacro'" />


	<group ns="robot0">
	<include file="$(find p3dx_gazebo)/launch/one_robot.launch">
	<arg name="init_pose" value="-x 1 -y 1 -z 0" />
	<arg name="robot_name" value="p3dx0" />
	</include>
	</group>

	<group ns="robot1">
	<include file="$(find p3dx_gazebo)/launch/one_robot.launch">
	<arg name="init_pose" value="-x -1 -y 1 -z 0" />
	<arg name="robot_name" value="p3dx1" />
	</include>
	</group>

	<group ns="robot2">
	<include file="$(find p3dx_gazebo)/launch/one_robot.launch">
	<arg name="init_pose" value="-x 1 -y -1 -z 0" />
	<arg name="robot_name" value="p3dx2" />
	</include>
	</group>

	<group ns="robobst0">
	<include file="$(find p3dx_gazebo)/launch/one_robot.launch">
	<arg name="init_pose" value="-x -1 -y -1 -z 0" />
	<arg name="robot_name" value="p3dx_obs0" />
	</include>
	</group>

</launch>
